ol.progtrckr {
    margin: 0;
    padding-bottom: 2.2rem;
    list-style-type: none;
    visibility: hidden;
  }
  
  ol{
    visibility: hidden;
  }
  
  .progtrckr{
    visibility: hidden;
  }
  ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 4.5rem;
    padding: 0 0.7rem;
    cursor: pointer;
  }
  ol.progtrckr li span {
    padding: 0 1.5rem;
  }
  @media (max-width: 650px) {
    .progtrckr li span {
      display: none;
    }
  }
  .progtrckr em {
    display: none;
    font-weight: 700;
    padding-left: 1rem;
  }
  @media (max-width: 650px) {
    .progtrckr em {
      display: inline;
    }
  }
  
  ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
  }
  ol.progtrckr li.progtrckr-doing {
    color: black;
    border-bottom: 4px solid #33c3f0;
  }
  ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid #33c3f0;
  }
  ol.progtrckr li:after {
    content: "\00a0\00a0";
  }
  ol.progtrckr li:before {
    position: relative;
    bottom: -3.7rem;
    float: left;
    left: 50%;
  }
  ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    width: 1.2em;
    line-height: 1.4em;
  }
  ol.progtrckr li.progtrckr-todo:hover:before {
    color: #0fa0ce;
  }
  
  ol.progtrckr li.progtrckr-doing:before {
    content: "\2022";
    color: white;
    background-color: #33c3f0;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
  }
  ol.progtrckr li.progtrckr-doing:hover:before {
    color: #0fa0ce;
  }
  
  ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #33c3f0;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
  }
  ol.progtrckr li.progtrckr-done:hover:before {
    color: #0fa0ce;
  }
  